* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: url("./assets/images/sunny.jpg");
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.weather-card h1 {
  font-size: 3rem;
}

.weather-card #searchBar {
  font-size: 2rem;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
}

.weather-details {
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

.weather-details.show {
  opacity: 1;
  transform: translateY(0);
}

.weather-details img {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 10px;
}
